/* 全体 */
body {
    font-size: 6em;
    text-align: center;
}

/* タイマー領域 */
/* タイピングカウント */
.count, .typecount {
    margin: 0;
    font-weight: bold;
    color: #888;
}

/* テキスト表示領域 */
.wrap {
    margin-top: 20px;
    padding: 80px 40px;
    background-color: #666;
    font-weight: bold;
    color: #fff;
}

/* 正しく入力したとき */
.typed {
    color: lightgreen;
}

/* タイプミスしたとき */
.mistyped {
    background-color: red;
}
